@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* .weather img{ transform: scale(2); } */@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
body{
    background: rgb(3,56,110);
    background: linear-gradient(0deg, rgba(3,56,110,1) 0%, rgba(15,0,61,1) 100%);
    min-height: 100vh;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.navbar{
    background-color: transparent;
  }
  .navbar .navbar-brand{
    font-weight: 600;
    font-size: 18px;
  }
  .navbar li a{
    margin-left: 1rem;
    font-size: 15px;
  }
  .navbar a:hover{
    background-color: transparent;
    border-radius: 6px;
    transition: linear .4s;
  }
  .navbar-toggler {
    background-color: #494949; /* Replace #333 with the desired color */
  }
  
  
  @media screen and (min-width: 768px) {
    .navbar-toggler {
      display: none;
    }
  }
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:#fff;
}
input {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}
input:focus {
    outline: none;
    color: black;
}
.weather {
    text-align: center;
    font-size: 2rem;
}
.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
} /* .weather img{ transform: scale(2); } */

/* Weather List /*

/* Add this CSS to your stylesheet */

.weather-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .weather-list li {
    flex: 0 0 120px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .weather-list li img {
    display: block;
    margin: 0 auto;
    width: 50px;
  }
  
  .weather-list li .time {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .weather-list li .temp {
    font-size: 20px;
    font-weight: bold;
  }
  
  .weather-list li .description {
    font-size: 14px;
    margin-top: 5px;
  }
  